.work{
    width: 400px;
    margin: 10px;
    font-size: 25px;
}

.delete{
    text-decoration: none;
}
/* new .ejs file styling */
.newbody{
    width: 100vmax;
    height:500px;
    display: flex;
    margin-top: 160px;
    margin-left: 50px;
}
.newbox{
    background-color: rgb(221, 225, 224);
    width: 275px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.newbox input{
    width: 250px;
    height: 30px;
    border-radius: 10px;
    margin-left: 10px;
  margin-top: 10px;
}
.newbox button{
    width: 70px;
    height: 40px;
    background-color:#9acce4;
    border-radius: 10px;
    margin-left: 105px;
}