<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Route</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div class="newbody">
        <div class="newbox">
            <form action="/new" method="post">
            <input type="text" name="workname" placeholder="Enter workName!" required="true">
            <br>
            <!-- <br>
            <input type="date" name="workDate" required="true">
            <br><br> -->
            <button>Submit</button>
        </form>
        </div>
    </div>
</body>
</html>