<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create post</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <form action="/new/post" method="post">
        <div class="box">
            <input type="text"name="username"placeholder="enter username">
            <br><br>
            <textarea name="content"placeholder="content" id=""></textarea>

            <button>Submit</button>
        </div>
    </form>
    
</body>
</html>